
.lup{
    border-radius:0%;
}
/*-------------*/
header a img {
    height: 80px;
    width:80px;
    border-radius:50%;
}
header {
    width:100%;
    position:fixed;
    background-color:sandybrown;
    z-index:1;
}
.m li {
        list-style: none;
        padding: 1% 3% 1% 3%;
        background-color: #272c33;
        
}
    .m li a {
        display: block;
        color: white;
        font-weight:bold;
        text-decoration: none;
        text-transform: uppercase;
        padding: 5% 0%;
    }
.m li:hover {
        background-color: #1177d1;
}
.m {
        position: fixed;
        height: 100%;
        width: 15%;
        padding: 6.6% 0 10% 0;
        background-color: #272c33;
}
.m li a{
    color:white;
}
.m li a:hover{
    color:white;
    text-decoration:none;
}
.nen {
   margin-left:50px;
    background-image: url('../images/nentoi.jpg');
    width:87%;
}
form{
    margin-left:100px;
}

.chu h1 {
    animation: color 3s infinite;
    -webkit-animation: color 3s infinite;
    -moz-animation: color 3s infinite;
    -o-animation: color 3s infinite;
}

.chu h3 {
    animation: color 3s infinite;
    -webkit-animation: color 3s infinite;
    -moz-animation: color 3s infinite;
    -o-animation: color 3s infinite;
}
.chu i {
    animation: color 0.5s infinite;
    -webkit-animation: color 0.5s infinite;
    -moz-animation: color 0.5s infinite;
    -o-animation: color 0.5s infinite;
}
.hotline {
    animation: color 0.8s infinite;
    -webkit-animation: color 0.8s infinite;
    -moz-animation: color 0.8s infinite;
    -o-animation: color 0.8s infinite;
}
@keyframes color {
    40% {
        color: green;
        
    }
    80% {
        color:greenyellow;
    }
}
/*----------vip-info-----------*/
.uudai li {
    list-style-type:circle;
    padding:10px 15px;
}
.uudai {
    text-align:left;
}
/*-----BA LO-----*/
.balo img{
    height:340px;
    width:280px;
}
.balo img:hover{
    height:350px;
    width:285px;
    opacity:0.7;
}
.balo{
    width:100%;
}
.total th{
    text-align:center;
}
.total td{
    text-align:center;
}
